@charset "UTF-8";
/*Comienzo de muestrario de productos*/
.contenedorIndex {
  display: grid;
  grid-template-columns: 0.3fr repeat(3);
  grid-template-rows: 1fr 1fr;
  gap: 4px 4px;
  grid-template-areas: "fraseVertical perpetua clasica turnos" "fraseVertical perpetua2 clasica2 turnos2";
  align-items: center;
}

.contenedorIndex .fraseVertical {
  justify-self: center;
  align-self: center;
  grid-area: fraseVertical;
  height: 90%;
}

.contenedorIndex .fraseVertical img {
  width: 70%;
  padding: 2rem;
}

.contenedorIndex .perpetua {
  width: 90% auto;
  height: 0px auto;
  grid-area: perpetua;
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.contenedorIndex .perpetua2 {
  width: 90% auto;
  height: 0px auto;
  grid-area: perpetua2;
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.contenedorIndex .clasica {
  width: 90% auto;
  height: 0px auto;
  grid-area: clasica;
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.contenedorIndex .clasica2 {
  width: 90% auto;
  height: 0px auto;
  grid-area: clasica2;
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.contenedorIndex .turnos {
  width: 90% auto;
  height: 0px auto;
  grid-area: turnos;
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.contenedorIndex .turnos2 {
  width: 90% auto;
  height: 0px auto;
  grid-area: turnos2;
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.contenedorIndex .rotulo {
  margin: 1rem;
  width: 50%;
}

.contenedorIndex .diseños {
  border: #74610d 3px solid;
  border-style: double;
  width: 90%;
  justify-self: center;
}

.contenedorIndex .iconos {
  display: flex;
  width: 0px auto;
  padding: 2%;
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.contenedorIndex .iconos img {
  width: 3.5rem;
  transition: all .2s ease-in-out;
}

.contenedorIndex .iconos img:hover {
  transform: scale(1.5);
}

/* Fin presentacion de productos index*/
/*Nosotros*/
.contenedorNosotros {
  display: grid;
  grid-template-columns: 1.6fr repeat(4, 1fr);
  grid-template-rows: 2fr 0.5fr;
  gap: 5px 5px;
  grid-template-areas: "fotoNosotros textoNosotros textoNosotros textoNosotros textoNosotros" "fotoNosotros proceso1 proceso2 proceso3 proceso4";
  width: 90% auto;
  height: 50vh auto;
  margin: 4rem auto;
}

.contenedorNosotros .fotoNosotros {
  width: 97%;
  grid-area: fotoNosotros;
  justify-items: center;
  text-align: center;
}

.contenedorNosotros .fotoNosotros img {
  max-width: 100%;
  margin: 0px auto;
  height: auto;
  padding: 10%;
}

.contenedorNosotros .textoNosotros {
  grid-area: textoNosotros;
}

.contenedorNosotros .textoNosotros p {
  margin: 0px auto;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
  line-height: 270%;
  font-size: 0.85rem;
  padding: 1rem;
}

.contenedorNosotros .proceso1 {
  grid-area: proceso1;
}

.contenedorNosotros .proceso2 {
  grid-area: proceso2;
}

.contenedorNosotros .proceso3 {
  grid-area: proceso3;
}

.contenedorNosotros .proceso4 {
  grid-area: proceso4;
}

.contenedorNosotros .pimg {
  width: 8rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  margin-top: 1.65rem;
  border-radius: 0.2rem;
  transition: all .2s ease-in-out;
}

.contenedorNosotros .pimg:hover {
  transform: scale(1.5);
}

.btn-primary {
  margin-left: 33%;
  background: #e3d4bf;
  border-color: #74610d;
  color: #74610d;
}

.btn-primary:hover {
  background: beige;
  color: #74610d;
  border-color: #74610d;
}

.btn-primary:active {
  background: beige;
}

.btn-primary:disabled {
  background: #e3d4bf;
  border-color: #74610d;
  color: #74610d;
}

.btn-primary p {
  color: #74610d;
  text-decoration: none;
  padding: 2%;
  margin: 0px auto;
  font-size: 80%;
}

.btn-primary a {
  color: #74610d;
  text-decoration: none;
}

.btn-primary a:hover {
  color: white;
}

/*Fin Nosotros*/
/*Contacto Formulario*/
.formulario {
  width: 35%;
  height: auto;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 7%;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #f4f4ed;
  background: linear-gradient(to bottom, #f4f4ed 0%, #e3d4bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4ed', endColorstr='#f5f5dc', GradientType=0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario h1 {
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.formulario h3 {
  text-align: center;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}

.formulario input {
  background-color: #fbfbfb;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #74610d;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.formulario .textarea {
  background-color: #fbfbfb;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #74610d;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.formulario .botonenviar {
  font-style: oblique;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #e3d4bf;
  border-color: #74610d;
  border-style: solid;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.formulario .botonenviar p {
  text-align: center;
  vertical-align: middle;
  padding: 2%;
}

.formulario .aviso {
  font-size: 13px;
}

/*FIN CONTACTO*/
/*Productos*/
.textoProducto h1 {
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.textoProducto ul {
  list-style: none;
  margin-bottom: 2rem;
  margin-right: 10%;
  padding: 2%;
}

.textoProducto ul li {
  margin-left: 0.7rem;
  margin-right: 10%;
  text-align: justify;
  line-height: 140%;
  font-size: 85%;
  padding: 1%;
}

.irATienda {
  margin-top: auto;
  padding: 1rem;
}

.irATienda a {
  text-decoration: none;
  color: #74610d;
}

.conocemas {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #74610d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding: 3%;
}

.conocemas a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

/*Fin Productos*/
.mayoristas form {
  width: 360px;
}

.mayoristas form h1 {
  font-weight: bolder;
  text-align: left;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1.7rem;
}

.mayoristas form .forMay {
  width: 360px;
  margin-left: 1rem;
}

.mayoristas form label {
  margin-bottom: 1rem;
}

.mayoristas form .inputMayorista {
  width: 85%;
  display: block;
}

.mayoristas form .botonEnviarMay:hover {
  background-color: beige;
}

.condicionesDeVenta {
  width: 90%;
  grid-area: condicionesDeVenta;
  align-self: center;
  justify-self: start;
  margin: 0px auto;
}

.condicionesDeVenta fieldset {
  height: 0px auto;
  width: 100%;
  padding: 1rem;
  color: #74610d;
  border-radius: 0.2rem;
}

.condicionesDeVenta fieldset legend {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: left;
}

.condicionesDeVenta fieldset h1 {
  width: 100%;
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  text-align: justify;
}

.condicionesDeVenta fieldset ul {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.condicionesDeVenta fieldset ul li {
  padding-bottom: 2%;
  font-size: 90%;
}

/*FAQ*/
.dudas {
  margin-bottom: 2rem;
  display: block;
  line-height: 220%;
  margin-left: 2rem;
}

.dudas h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.7rem;
  text-align: right;
  margin-right: 2rem;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: #e3d4bf;
}

.accordion-button:not(.collapsed) {
  color: #74610d;
  background-color: #e3d4bf;
}

.accordion-button:not(.collapsed)::after {
  color: black;
}

/*FIN FAQ*/
.loader {
  width: 20%;
  position: fixed;
  margin: 0px auto;
  left: 40%;
  top: 30%;
  z-index: 1;
}

.loader img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

.loader::before {
  content: "";
  position: absolute;
  inset: -15px;
  border: 6px solid #74610d;
  border-top-color: #e3d4bf;
  border-bottom-color: #e3d4bf;
  border-left-color: #74610d;
  border-radius: 50%;
  z-index: -1;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*Productos AGENDA CLASICA*/
.preview {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  flex-grow: 0.2;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
  transition: all .2s ease-in-out;
}

.preview-thumbnail.nav-tabs li img:hover {
  transform: scale(2.5);
}

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
  height: auto;
}

.tab-content img {
  width: 100%;
  animation-name: opacity;
  animation-duration: .3s;
}

.card {
  margin-top: 50px;
  background: #f7f3ef;
  padding: 3em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: flex;
  }
}

.details {
  display: flex;
  flex-direction: column;
}

.colors {
  flex-grow: 1;
}

.product-title,
.colors {
  text-transform: UPPERCASE;
  font-weight: 200;
  font-family: roboto;
}

.checked,
.price span {
  color: #74610d;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}

.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}

.color:first-of-type {
  margin-left: 20px;
}

.add-to-cart,
.like {
  background: #e3d4bf;
  padding: 1.2em;
  margin: 1em;
  border: #74610d;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #74610d;
  transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
  background: #b36800;
  color: #fff;
}

.not-available {
  text-align: center;
  line-height: 2em;
}

.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

.opdiseños {
  width: 15%;
  padding: 0.1rem;
  margin: 0.1rem;
  transition: all .1s ease-in-out;
}

.opdiseños:hover {
  transform: scale(2);
}

.tooltip-inner {
  padding: 1.3em;
}

@keyframes opacity {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.interioragc {
  width: 100%;
  padding: 2%;
}

.formProd {
  padding-top: 2rem;
  font-family: roboto;
}

.textName {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #74610d;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
}

/*Banner header*/
header {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;
}

header h1 {
  position: absolute;
  top: 55%;
  right: 20%;
  color: white;
  font-weight: lighter;
  font-size: 1.2rem;
  z-index: 1;
}

header .headerLogo {
  position: absolute;
  top: 14%;
  left: 12%;
  width: 7%;
  z-index: 1;
}

/*Comienzo Menu*/
.navbar {
  background: #e3d4bf;
}

.navbar .nav-link {
  color: #74610d;
}

.navbar .nav-link .dropdown-menu {
  background-color: #e3d4bf;
}

.navbar .nav-link .dropdown-menu .navbar-nav li a:hover {
  border: 1px #74610d solid;
  border-radius: 2px;
  opacity: 77%;
}

/*Fin Menu*/
/*footer*/
footer {
  background-color: #e3d4bf;
  height: auto;
  width: 100%;
  margin-top: 1rem;
}

.footerContenedor {
  display: grid;
  grid-template-columns: 1fr 0.4fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px 5px;
  grid-template-areas: "mediosDePago . newslater" "mediosDePago . redes";
  width: 100vh auto;
  height: 20vh auto;
  margin: auto;
}

.mediosDePago {
  margin-left: 10%;
  margin-top: 10%;
  grid-area: mediosDePago;
}

.mediosDePago h1 {
  font-size: smaller;
  font-weight: bold;
}

.mediosDePago ul li {
  line-height: 3rem;
  list-style: none;
  font-size: small;
}

.mediosDePago img {
  width: 1rem;
}

.newslater {
  font-size: smaller;
  margin-top: 2rem;
  grid-area: newslater;
  background-color: #e3d4bf;
  justify-items: left;
}

.newslater form {
  width: 80% auto;
  padding: 1rem;
}

.newslater form h1 {
  font-size: 1.5rem;
}

.newslater form .inputNewslater, .newslater .mayoristas form .inputMayorista, .mayoristas .newslater form .inputMayorista {
  display: flex;
  background-color: #ffffff;
  width: 80%;
  height: 1.2rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #74610d;
  margin: 0px auto;
}

.newslater form .inputNewslater .enviarBottom, .newslater .mayoristas form .inputMayorista .enviarBottom, .mayoristas .newslater form .inputMayorista .enviarBottom, .newslater .mayoristas form .inputNewslater .botonEnviarMay, .mayoristas .newslater form .inputNewslater .botonEnviarMay, .newslater .mayoristas form .inputMayorista .botonEnviarMay, .mayoristas .newslater form .inputMayorista .botonEnviarMay {
  background-color: #ffffff;
  width: 7rem;
  height: 2rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #74610d;
  margin-top: 3px;
  padding-left: 5px;
  margin-bottom: 5px;
  margin-top: 3%;
}

.redes {
  grid-area: redes;
  margin-right: 6rem;
  margin: 0px auto;
  padding: 10%;
}

.redes h1 {
  font-size: small;
  margin-left: 3rem;
  font-weight: bold;
}

.redes img {
  width: 50%;
}

.redes ul {
  display: flex;
  justify-content: space-around;
}

.redes ul li {
  list-style-type: none;
  text-align: center;
  margin: 0.7rem;
  background-color: #e3d4bf;
  padding: 0.7rem;
  margin-top: 0px;
}

.redes ul li a {
  text-decoration: none;
  font-size: small;
  color: #74610d;
}

/*BOTON FLOTANTE*/
.whatsAppFlotante h6 {
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  right: 50px;
  bottom: 0px;
  font-size: 15px;
  z-index: 1;
}

.whatsAppFlotante img {
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  right: 25px;
  bottom: 70px;
  z-index: 1;
  margin-right: 0.7rem;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  .forMay {
    width: 60vh;
  }
  .mayoristas form {
    width: 60vh;
  }
  .inputMayorista {
    width: 70%;
  }
  .formulario {
    width: auto;
    margin: 2rem;
  }
  .contInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .contenedorNosotros {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 0px 0px;
    grid-template-areas: "fotoNosotros fotoNosotros" "textoNosotros textoNosotros" "proceso1 proceso2" "proceso3 proceso4";
  }
  .fraseVertical {
    display: none;
  }
  .contenedorIndex {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 auto);
    grid-template-areas: "perpetua" "perpetua2" "clasica" "clasica2" "turnos" "turnos2";
  }
  .contenedorIndex .diseños {
    width: 80%;
  }
  .contenedorIndex .rotulo {
    width: 60%;
  }
  .contenedorIndex img {
    margin-left: auto;
    margin-right: auto;
  }
  .iconos {
    margin: auto;
  }
  .footerContenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3 auto);
    grid-template-areas: "mediosDePago" "newslater" "redes";
  }
  .redes {
    padding-top: 25%;
    margin: 0% auto;
    text-align: center;
  }
  .redes h1 {
    padding-top: 2%;
    margin: 0% auto;
    text-align: center;
  }
  .redes ul {
    padding-left: 0%;
  }
  .mediosDePago {
    padding-top: 5%;
    margin: 0% auto;
    text-align: center;
  }
  .mediosDePago ul {
    padding-left: 0%;
  }
  .mediosDePago h1 {
    padding: 2%;
    margin: 0% auto;
    text-align: center;
  }
  .newslater {
    margin-top: 1%;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 0.9rem;
    top: 20%;
    position: absolute;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 0.5rem;
  }
  header .contenedorNosotros {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 0px 0px;
    grid-template-areas: "fotoNosotros fotoNosotros" "textoNosotros textoNosotros" "proceso1 proceso2" "proceso3 proceso4";
  }
  header .textoNosotros p {
    font-size: 0.8rem;
  }
  header .fotoNosotros img {
    max-width: 80%;
    margin: 0px auto;
    margin-bottom: 3rem;
    height: auto;
  }
  header .pimg {
    margin: 0px auto;
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=estilo.css.map */