/*Nosotros*/
.contenedorNosotros {
    display: grid;
    grid-template-columns: 1.6fr repeat(4, 1fr);
    grid-template-rows: 2fr 0.5fr;
    gap: 5px 5px;
    grid-template-areas:
        "fotoNosotros textoNosotros textoNosotros textoNosotros textoNosotros"
        "fotoNosotros proceso1 proceso2 proceso3 proceso4";
    width: 90% auto;
    height: 50vh auto;
    margin: 4rem auto;

    .fotoNosotros {
        width: 97%;
        grid-area: fotoNosotros;
        justify-items: center;
        text-align: center;

        img {
            max-width: 100%;
            margin: 0px auto;
            height: auto;
            padding: 10%;
        }
    }

    .textoNosotros {
        grid-area: textoNosotros;

        p {
            margin:0px auto;
            margin-left: 2rem;
            margin-right: 2rem;
            text-align: justify;
            line-height: 270%;
            font-size: 0.85rem;
            padding: 1rem;
        }
    }

    .proceso1 {
        grid-area: proceso1;
    }

    .proceso2 {
        grid-area: proceso2;
    }

    .proceso3 {
        grid-area: proceso3;
    }

    .proceso4 {
        grid-area: proceso4;
    }

    .pimg {
        width: 8rem;
        margin-left: 1.6rem;
        margin-right: 1.6rem;
        margin-top: 1.65rem;
        border-radius: 0.2rem;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.5);
        }
    }
}

.btn-primary {
    margin-left: 33%;
    --bs-btn-bg: beige;
    --bs-btn-border-color: #74610d;
    --bs-btn-hover-bg: #d3bd5c;
    --bs-btn-color: #74610d;
    --bs-btn-hover-border-color: #74610d;
    --bs-btn-active-bg: #f3da6a;

    color: #74610d p {
        color: #74610d;
        text-decoration: none;
        padding: 2%;
        margin: 0px auto;
        font-size: 80%;
    }

    a {
        color: $tono-oscuro;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}

/*Fin Nosotros*/