    .error {
        background: white;
        height: 100%;
        width: 100%;
        margin: 0% auto;

        p {
            text-align: center;
            width: 80% auto;
            font-size: 1.5rem;
            padding: 2rem;
        }

        img {
            width: 75%;
            padding: 1rem;
            margin: 0% auto;

        }

        .btn {
            padding: 1rem;
            margin: 2rem;
            display: block;
        }
    }