    .error{
    background: white;
    height: 100%;
    width: 100%;
    margin: 0px auto;

    p{
    
       text-align: center;
        width: 80% auto;
        font-size: 1.5rem;
        padding: 2rem;
        margin: 2rem;;
        
    }
    img{
        width:95%;
        padding: 2rem;
        margin: 2rem;
    }
    .btn{
        padding: 1rem;
        margin: 2rem;
        display: block;
    }
}
