.loader {
  width: 20%;
  position: fixed;
  margin: 0px auto;
  left: 40%;
  top: 30%;
  z-index: 1;
}

.loader img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

.loader::before {
  content: "";
  position: absolute;
  inset: -15px;
  border: 6px solid $tono-oscuro;
  border-top-color: $tono-claro;
  border-bottom-color: $tono-claro;
  border-left-color: $tono-oscuro;
  border-radius: 50%;
  z-index: -1;
  animation: spin 3s linear infinite;

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}