/*Productos*/

.textoProducto {

    h1 {
        font-size: 1rem;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        margin-bottom: 2rem;
        margin-right: 10%;
        padding: 2%;

        li {
            margin-left: 0.7rem;
            margin-right: 10%;
            text-align: justify;
            line-height: 140%;
            font-size: 85%;
            padding: 1%;
        }
    }
}

.irATienda {
    margin-top: auto;
    padding: 1rem;

    a {
        text-decoration: none;
        color: $tono-oscuro;
    }
}

.conocemas {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $tono-oscuro;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 3%;

    a {
        text-decoration: none;
        color: white;
        font-size: 3rem;
        font-weight: bold;
    }
}

.dropdown-menu{
background-color:$tono-claro;
opacity: 80%;
color: $tono-oscuro;
}
/*Fin Productos*/